html{
	font-size: 16px;
	font-family: 'Palatino Linotype';
	--background-color:  white;
	--header-color: #b0e0e6;
	--footer-color: #b0e0e6;
}
body{
	color: black;
 	background-color: var(--background-color);
 	margin: 0;
 	padding: 0;
 	border-radius: 0px;
}
.container{
	width: 100%;
	margin: 0 auto;
	}
header{
	top: 0;
	position: fixed;
	width: 100vw;
	height: 50px;
	background-color: var(--header-color);
	border-bottom: 3px solid sky blue; 
	display: flex;
	flex-direction: row;
	align-items: center;
 	padding: 0;
 	margin: 0;
	
}
footer{
	position: fixed;
	padding: 0;
 	margin: 0;
	display: flex;
	bottom: 0;
	background-color: var(--footer-color);
	flex-direction: row;
	align-items: center;
}
