html{
	font-size: 16px;
	font-family: 'Palatino Linotype';
	--background-color:  white;
	--header-color: #b0e0e6;
	--footer-color: #b0e0e6;
	text-decoration: none;
}
body{
	color: black;
 	background-color: var(--background-color);
 	margin: 0;
 	padding: 0;
 	border-radius: 0px;
}

header{
	top: 0;
	position: fixed;
	width: 100vw;
	height: 75px;
	background-color: var(--header-color);
	border-bottom: 3px solid skyblue;
 	padding: 0;
 	margin: 0;
}

.navbar{
	list-style: none;
 	padding: 0;
 	margin: 0;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	height: 100%;
 	float: right;
}

.navbar li{
	margin-right: 20px;
	margin-left: 70px;
	padding-top: 30px;
	height: 100%;
}

.navbar:last-child{
	padding-right: 100px;
}

.navbar li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	transition: all ease-in-out 275ms;
}

.navbar li  .top-menu-item:before{
	content: "";
	display:block;
	height:3px;
	width: 0%;
	background-color: #ff5d47;
	transition: all ease-in-out 275ms;
}

.navbar li:hover a{
	color: #ff5d47;
	font-weight: bold;
	text-decoration: none;
}

.navbar li:hover a:before{
	width: 100%;
}

.about-us-dropdown{
	height: 0;
	display: block;
	overflow: hidden;
	position: absolute;
	transition: all ease-in-out 600ms;
}

.about-us-menu:hover .about-us-dropdown{
	height: 100px;
	background-color: #f1f1f1;
	min-width: 160px;
	z-index: 1;
}

.about-us-menu:hover .about-us-dropdown a{
	display: inherit;
}
