/*
IMPORTS
*/

/*
GENERAL CSS
*/

html{
	font-size: 13px;
	font-weight: 60;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;

	--background-color:  white;


	--header-color: #b0e0e6;
	--footer-color: #b0e0e6;
    --header-height: 100px;
    --header-font-size: 19px;
    --header-background-color: rgba(255,255,255,0.95);
}
body{
	color: black;
 	background-color: var(--background-color);
 	margin: 0;
 	padding: 0;
 	font-family: 'Fjalla One',sans-serif;
 	border-radius: 0px;
    padding-top: var(--header-height);
}

.text-font{
	font-family: 'Libre Franklin', sans-serif;
}

/*
HEADER CSS
*/

header{
	font-size: var(--header-font-size);
	top: 0;
	width: 100vw;
	height: var(--header-height);
	background-color: var(--header-background-color);
 	padding-top: 15px;
 	margin: 0;
}

.logo{
    opacity: 0.8;
	float:left;
	margin: 0; 
	padding: 0;
	border: 0;
}

.navbar{
	list-style: none;
 	padding: 0;
 	margin: 0;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	height: 100%;
 	float: right;
}

.navbar li{
	margin-right: 20px;
	margin-left: 70px;
	padding-top: 30px;
	height: 100%;
}

.navbar:last-child{
	padding-right: 50px;
}

.navbar li a{
	color: #679399;
	text-decoration: none;
	text-transform: uppercase;
	transition: all ease-in-out 275ms;
}

.top-menu-item:before{
	content: "";
	display:block;
	height:3px;
	width: 0%;
	background-color: #3EA6B4;
	transition: all ease-in-out 275ms;
}

.navbar li:hover a{
	/*color: #3EA6B4;*/
	text-decoration: none;
}

.navbar li:hover a:before{
	width: 100%;
}

.dropdown-dot{
    position: fixed;
    top: 57px;
    left: 245px;
    background-color: #3EA6B4;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.about-us-dropdown{
	/*overflow:hidden;
    max-height:0;
    max-width: 0;
    position: absolute;
	transition: all ease-in-out 600ms;*/
    max-height:0;
    max-width: 0;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    left: 200px;
    top: 90px;
	background-color: #3EA6B4;
    border-radius: 5px;
    transition: all ease-in-out 400ms;
    display: flex;
}

.dropdown-triangle {
    position: fixed;
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #3EA6B4;
    border-top: 10px solid transparent;
    visibility: hidden;
    transition: all ease-in-out 200ms;
}

.about-us-menu:hover .about-us-dropdown{
    max-height:30px;
    max-width: 500px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.about-us-menu:hover .dropdown-triangle{
    visibility: visible;
}

.about-us-menu .about-us-dropdown a{
    color: aliceblue;
}

.about-us-dropdown a{
    margin-left: 10px;
    display: inline;
}

.about-us-dropdown a:hover{
    color: red;
}

/*
BODY CSS
*/

main{
    padding: 40px;
	font-weight: 300;
	margin-top: 100px;
	text-align: center;
	margin-bottom: 100px;
	margin left: 300px;
	margin right: 300px;
}

.video1 iframe{
    width: 100%;
    height: 500px;
}


/*
FOOTER CSS
*/

ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.seal-transparency{
	position: relative;
    z-index: 1;
    bottom: 145px;
    left: 89%;
	width: 10rem;
	height: 10rem;
}
