html{
	font-size: 16px;
	--background-color:  white;
	--header-color: #b0e0e6;
	--footer-color: #b0e0e6;
	text-decoration: none;
}
body{
	color: black;
 	background-color: var(--background-color);
 	margin: 0;
 	padding: 0;
 	font-family: 'Fjalla One',sans-serif;
 	border-radius: 0px;
}

header{
	top: 0;
	position: fixed;
	width: 100vw;
	height: 75px;
	background-color: var(--header-color);
	border-bottom: 3px solid skyblue;
 	padding: 0;
 	margin: 0;
}

.logo{
	margin: 0;
	padding: 0;
	border: 0;
}

.navbar{
	list-style: none;
 	padding: 0;
 	margin: 0;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	height: 100%;
 	float: right;
}

.navbar li{
	margin-right: 20px;
	margin-left: 70px;
	padding-top: 30px;
	height: 100%;
}

.navbar:last-child{
	padding-right: 50px;
}

.navbar li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	transition: all ease-in-out 275ms;
}

.video1{
	padding-top: 30px;
}

.top-menu-item:before{
	content: "";
	display:block;
	height:3px;
	width: 0%;
	background-color: #ff5d47;
	transition: all ease-in-out 275ms;
}

.navbar li:hover a{
	color: #ff5d47;
	font-weight: bold;
	text-decoration: none;
}

.navbar li:hover a:before{
	width: 100%;
}

.about-us-dropdown{
	height: 0;
	width: 190px;
	display: block;
	overflow: hidden;
	position: absolute;
	transition: all ease-in-out 600ms;
}

.about-us-menu:hover .about-us-dropdown{
	height: 100px;
	width: 190px;
	background-color: #f1f1f1;
}

.about-us-dropdown a{
	display: block;
}

footer{
	background-color: lightgray;
	width: 100%;
	height: 12rem;
	position: absolute;
	bottom: 0;
}

footer div{
	margin-left: 0.8rem;
	margin-top: 0.8rem;
}

.seal-transparency{
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 10rem;
	height: 10rem;
}

.footer-container-1{
	display: flex;
}

.footer-container-1 span{
	margin-right: 5px;
	font-weight: bold;
	text-decoration: none;
}

.footer-container-1 span a{
	color: black;
	text-decoration: none;
}

.footer-container-1 span:hover a{
	color: gray;
}
