html{
	font-size: 16px;
	font-family: 'verdana';
	--background-color:  #113b7d;
	--header-color: #474f5c;
}
body{
	color: black;
 	background-color: var(--background-color);
 	margin: 0;
 	padding: 0;
 	border-radius: 0px;
}
header{
	top: 0;
	position: fixed;
	width: 100vw;
	height: 50px;
	background-color: var(--header-color);
	border-bottom: 3px solid gray; 
	display: flex;
	flex-direction: row;
	align-items: center;
 	padding: 0;
 	margin: 0;
}
